body {
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  display: flex;
}
.logotext {
  color: rgb(243, 73, 11);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -5px;
  margin-left: 40px;
  margin-right: 60px;
}
.logo {
  width: 50px;
  height: 50px;
}
li {
  display: inline-block;
  list-style: none;
  margin-right: 50px;
}
a:hover {
  color: orangered;
}
a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.search {
  border: 2px solid orangered;
  background-color: black;

  padding-right: 25px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  color: white;
}
.but1 {
  padding: 11px 10px;
  background-color: orangered;
  color: white;
  width: 100px;
  border-radius: 5px;
  margin-left: -6px;
}
.main {
  display: flex;
}
.div2 {
  color: white;
  margin-top: 80px;
  margin-left: 40px;
}
.heading1 {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.heading2 {
  color: orangered;
  font-size: 45px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 5px;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.but2 {
  padding: 11px 10px;
  background-color: orangered;
  color: black;
  width: 140px;
  border-radius: 8px;
  margin-left: -6px;
  font-weight: bold;
}
.div3 {
  width: 20%;
  background-color: black;
  margin-top: 70px;
  margin-left: 100px;
  border-radius: 10px;
}
.log {
  width: 80%;
  margin: 20px 30px;
  border-radius: 7px;
  color: orangered;
  background-color: white;
  padding: 5px 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.but3 {
  width: 80%;
  margin: 10px 30px;
  border-bottom: 1px solid orangered;
  color: white;
  background-color: black;
  padding: 5px 10px;

  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.login {
  width: 80%;
  margin: 15px 30px;
  border-radius: 7px;
  color: black;
  background-color: orangered;
  padding: 5px 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.text {
  color: white;
  margin: 10px 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
span {
  color: orangered;
}
.iconss {
  margin-left: 90px;
}
.twit{
    margin-left: -15px;
}